<!DOCTYPE HTML>
<html>
<head>
<title>yelpCamp</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">yelpCamp</a>
                    </div>
        
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/">Login</a>
                            </li>
                            <li>
                                <a href="/">Signup</a>
                            </li>
                            <li>
                                <a href="/">Logout</a>
                            </li>
        
                        </ul>
                    </div>
            </div>
     </nav>
            
