<% include partials/header.ejs %>
    <div class="container">
        <div class="jumbotron" >
            <div class="container">
                   
                <h2> Welcome to Campground List </h2>
                <a class="btn btn-success btn-large" href="http://localhost:3000/campground/new">Add new campground</a>
            </div>
        </div>


<div class="row">
            <% campgrounds.forEach(function(Campground)
  { %>
                <div class="col-lg-4">
                    <div class="thumbnail">
                        <img src="<%= Campground.image %>">
                        <div class="caption">
                            <h5>
                                <%= Campground.name %>
                            </h5>
                            <a href="/campgrounds/<%= Campground._id %>" class= "btn btn-success">More info</a>
                        </div>
                        
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
    <% include partials/footer.ejs %>