<% include partials/header.ejs %>


    <div class="container">
        <div class="row">
            <div style="width:30% ; margin:0 auto">
                <h2>Add new campground</h2>
                <form action="/campground" method="post">
                    <h4>Campground's name:</h4>
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="Campground name">
                    </div>
                    <h4>Image:</h4>
                    <div class="form-group">
                        <input class="form-control" type="text" name="image" placeholder="Image url">
                    </div>
                    <h4>Description:</h4>
                    <div class="form-group">
                            <input class="form-control" type="text" name="description" placeholder="Description">
                        </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-success btn-block">Add new image</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% include partials/footer.ejs %>